#parse("/velocity/layout.vm")
#@mainLayout()
<h1>$msg.get("CHARTS_HEADING_ALL")</h1>
<div class="row row-3">
    #foreach($chart in $charts)
        <div class="col">
            <a class="chart" href="$WebPath.getCHARTS()$chart.getIsbn()">
                <div class="chartCover">
                    <img src="$chart.getMediumCover()" alt="$chart.getTitle()">
                </div>
                $msg.get("CHARTS_CAPTION", $chart.getTitle(), $chart.getAuthor())
            </a>
        </div>
    #end
</div>
<div id="chartContainer">FusionCharts XT will load here!</div>
<script type="text/javascript" src="/fusioncharts-suite-xt/js/fusioncharts.js"></script>
<script type="text/javascript" src="/fusioncharts-suite-xt/js/themes/fusioncharts.theme.fint.js"></script>

    <script type="text/javascript">
        FusionCharts.ready(function(){
            var revenueChart = new FusionCharts({
                "type": "column2d",
                "renderAt": "chartContainer",
                "width": "500",
                "height": "300",
                "dataFormat": "json",
                "dataSource": {
                    "chart": {
                        "caption": "Monthly revenue for last year",
                        "subCaption": "Harry's SuperMart",
                        "xAxisName": "Month",
                        "yAxisName": "Revenues (In USD)",
                        "theme": "fint"
                    },
                    "data": [
                        {
                            "label": "Jan",
                            "value": "420000"
                        },
                        {
                            "label": "Feb",
                            "value": "810000"
                        },
                        {
                            "label": "Mar",
                            "value": "720000"
                        },
                        {
                            "label": "Apr",
                            "value": "550000"
                        },
                        {
                            "label": "May",
                            "value": "910000"
                        },
                        {
                            "label": "Jun",
                            "value": "510000"
                        },
                        {
                            "label": "Jul",
                            "value": "680000"
                        },
                        {
                            "label": "Aug",
                            "value": "620000"
                        },
                        {
                            "label": "Sep",
                            "value": "610000"
                        },
                        {
                            "label": "Oct",
                            "value": "490000"
                        },
                        {
                            "label": "Nov",
                            "value": "900000"
                        },
                        {
                            "label": "Dec",
                            "value": "730000"
                        }
                    ]
                }
            });

            revenueChart.render();
        })
    </script>

#end
